/* 媒体查询 */
@media screen and (width: 320px) {
    html {
        font-size: (320px / 20);
    }
}

@media screen and (width: 375px) {
    html {
        font-size: (375px / 20);
    }
}

@media screen and (width: 414px) {
    html {
        font-size: (414px / 20);
    }
}

* {
    box-sizing: border-box;
}
/* 顶部导航 开始 */
.topnav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    height: (65rem / 20.7);
    padding: (10rem / 20.7);
    background-color: #fff;
    .left {

        a {
            display: block;
            margin-left: .768rem;
            width: 4.64533rem;
            
            svg {
                width: 100%;
            }
        }
        
    }

    .center {
        width: 100%;
        left: 0;
        top: (15rem / 20.7);
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: center;

        input {
            width: (145rem / 20.7);
            height: (27rem / 20.7);
            padding-left: (28rem / 20.7);
            border-radius: (27rem / 20.7);
            border: 0;
            margin-left: auto;
            margin-right: .64rem;
            font-size: (16rem / 20.7);
            background-color: #f4f4f4;
            line-height: (27rem / 20.7);
            color: #999;
            /* 单行出现省略号 */
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .right {
        width: (90rem  /20.7);
        height: (28rem / 20.7);
        margin-right: (20rem / 20.7);
        background: #fb7299;
        color: #fff;
        font-size: (16rem / 20.7);
        text-align: center;
        line-height: (28rem / 20.7);
        border-radius: (5rem / 20.7);
    }
}
/* 顶部导航 结束 */

.contNav {
    position: fixed;
    z-index: 100;
    top: 3rem;
    width: 100%;
    height: (32rem / 20.7 + 0.256);
    background-color: #fff;
    overflow: hidden;
    margin-bottom: (5rem / 20.7);

    ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: (5rem / 20.7);

        li {
            width: 20%;
            text-align: center;
            padding: 0.256rem;

            a {
                display: inline-block;
                font-size: (16rem / 20.7);
            padding: (10rem / 20.7) (2rem / 20.7);
                border-bottom: 1px solid transparent;
            }
            
        }
        .pink {
            color: #fb7299;
            border-bottom: 1px solid #fb7299;
        }
    }

    div {
        position: absolute;
        width: (15rem  / 20.7);
        height: (15rem  / 20.7);
        text-align: center;
        line-height: (15rem / 20.7);
        left: 50%;
        top: 0;
        transform: translate(-50%,0);
        transform: rotateZ(90deg);

        span {
            transform: perspective(1000px);
            font-size: (14rem / 20.7);
        }
    }
}
.my {
    margin-top: 5rem;
    padding: 0 (16rem / 20.7) (12rem / 20.7);

    img {
        width: 100%;
        border-radius: (10rem / 20.7);
    }
}
/* 视频 开始 */
.webindex {
    width: 100%;
    padding: 0 (16rem / 20.7);
    
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            width: (187rem / 20.7);
            height: (176rem / 20.7);

            a {
                display: block;
                width: (187rem  / 20.7);

                .img {
                    position: relative;
                    img {
                        width: 100%;
                        height: (115rem /20.7);
    
                    }
    
                    .show {
                        position: absolute;
                        width: 100%;
                        left: (10rem / 20.7);
                        bottom: (4rem / 20.7);
                        font-size: (12rem / 20.7);
                        color: #fff;
    
                        .show-left,.show-right {
                            width: 50%;
                        }
    
                        svg {
                            vertical-align: bottom;
                            fill: #fff;
                        }
                    }
                }

                p {
                    font-size: (15rem / 20.7);
                    padding-top: (9rem / 20.7);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                }

            }
        }
    }
}
/* 视频 结束 */

.generalize {
    position:fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: (66rem / 20.7);
    padding: 0 (14rem / 20.7);
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);

    .left {
    display: flex;
    align-items: center;
        img:first-child {
            width:  (14rem  /20.7);   
            }
        }

        img:nth-child(2) {
            margin: 0 (7rem  /20.7) 0 (18rem / 20.7);
        }
    img {
        width: (35rem  /20.7);
        }
        .middle {
            // display: flex;
            // height: (35rem  / 20.7);
            // align-items: space-between;

            p:first-child {
                font-size: (15rem / 20.7);
                color: #fff;
            }
            p:nth-child(2) {
                font-size: (14rem  / 20.7);
                color: #999;
            }
    }
    .right {
        width: (80rem / 20.7);
        height: (33rem / 20.7);
        border-radius: (5rem / 20.7);
        background-color: #fb7299;
        text-align: center;

        a {
            font-size: (15rem / 20.7);
            line-height: (33rem / 20.7);
            color: #fff;
    }
    }
}

.hidden {
    display: none;
}
