@charset "UTF-8";
/* 媒体查询 */
@media screen and (width: 320px) {
  html {
    font-size: 16px;
  }
}

@media screen and (width: 375px) {
  html {
    font-size: 18.75px;
  }
}

@media screen and (width: 414px) {
  html {
    font-size: 20.7px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 顶部导航 开始 */
.topnav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 1.32267rem;
  padding: 0.48309rem;
}

.topnav .left a {
  display: block;
  margin-left: .768rem;
  width: 4.64533rem;
}

.topnav .left a svg {
  width: 100%;
}

.topnav .center {
  width: 100%;
  left: 0;
  top: 0.72464rem;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.topnav .center input {
  width: 7.00483rem;
  height: 1.30435rem;
  padding-left: 1.35266rem;
  border-radius: 1.30435rem;
  border: 0;
  margin-left: auto;
  margin-right: .64rem;
  font-size: 0.77295rem;
  background-color: #f4f4f4;
  line-height: 1.30435rem;
  color: #999;
  /* 单行出现省略号 */
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topnav .right {
  width: 4.34783rem;
  height: 1.35266rem;
  margin-right: 0.96618rem;
  background: #fb7299;
  color: #fff;
  font-size: 0.77295rem;
  text-align: center;
  line-height: 1.35266rem;
  border-radius: 0.24155rem;
}

/* 顶部导航 结束 */
.contNav {
  position: fixed;
  z-index: 100;
  top: 3rem;
  width: 100%;
  height: 1.80189rem;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 0.24155rem;
}

.contNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0.24155rem;
}

.contNav ul li {
  width: 20%;
  text-align: center;
  padding: 0.256rem;
}

.contNav ul li a {
  display: inline-block;
  font-size: 0.77295rem;
  padding: 0.48309rem 0.09662rem;
  border-bottom: 1px solid transparent;
}

.contNav ul .pink {
  color: #fb7299;
  border-bottom: 1px solid #fb7299;
}

.contNav div {
  position: absolute;
  width: 0.72464rem;
  height: 0.72464rem;
  text-align: center;
  line-height: 0.72464rem;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.contNav div span {
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  font-size: 0.67633rem;
}

.my {
  margin-top: 5rem;
  padding: 0 0.77295rem 0.57971rem;
}

.my img {
  width: 100%;
  border-radius: 0.48309rem;
}

/* 视频 开始 */
.webindex {
  width: 100%;
  padding: 0 0.77295rem;
}

.webindex ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.webindex ul li {
  width: 9.03382rem;
  height: 8.50242rem;
}

.webindex ul li a {
  display: block;
  width: 9.03382rem;
}

.webindex ul li a .img {
  position: relative;
}

.webindex ul li a .img img {
  width: 100%;
  height: 5.55556rem;
}

.webindex ul li a .img .show {
  position: absolute;
  width: 100%;
  left: 0.48309rem;
  bottom: 0.19324rem;
  font-size: 0.57971rem;
  color: #fff;
}

.webindex ul li a .img .show .show-left, .webindex ul li a .img .show .show-right {
  width: 50%;
}

.webindex ul li a .img .show svg {
  vertical-align: bottom;
  fill: #fff;
}

.webindex ul li a p {
  font-size: 0.72464rem;
  padding-top: 0.43478rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

/* 视频 结束 */
.generalize {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 3.18841rem;
  padding: 0 0.67633rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
}

.generalize .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generalize .left img:first-child {
  width: 0.67633rem;
}

.generalize img:nth-child(2) {
  margin: 0 0.33816rem 0 0.86957rem;
}

.generalize img {
  width: 1.69082rem;
}

.generalize .middle p:first-child {
  font-size: 0.72464rem;
  color: #fff;
}

.generalize .middle p:nth-child(2) {
  font-size: 0.67633rem;
  color: #999;
}

.generalize .right {
  width: 3.86473rem;
  height: 1.5942rem;
  border-radius: 0.24155rem;
  background-color: #fb7299;
  text-align: center;
}

.generalize .right a {
  font-size: 0.72464rem;
  line-height: 1.5942rem;
  color: #fff;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=index.css.map */